VITE_SUPABASE_URL=https://qmrxahtijexgxxsasndr.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFtcnhhaHRpamV4Z3h4c2FzbmRyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzNjM0NDYsImV4cCI6MjA5ODkzOTQ0Nn0.mCBUNXvXIa5zpkCdT1fJWQYcuvyOsvY2zqs7ZW16dQU
