@import "tailwindcss";

@font-face {
  font-family: 'Poppins';
  src: url('./assets/poppins.refuler.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-family: 'Poppins', sans-serif;
  --color-primary: #0E45B7;
  --color-secondary: #3FBDF1;
  --color-third: #71DDB1;
  --color-fourth: #FFAD47;
  --color-txt-primary: #6E7191;
  --color-main-bg: #F2F8FD;
}

/* Custom scrollbar & base styles */
body {
  margin: 0;
  font-family: var(--font-family);
}

/* Utilities dengan standar Tailwind v4 */
@utility card {
  background-color: white;
  border-radius: 0.625rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  transition: all 150ms;
  &:hover {
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 0.05);
  }
}

@utility btn-primary {
  background-color: var(--color-primary);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: all 150ms;
  &:hover {
    background-color: white;
    color: var(--color-primary);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  }
}

@utility input-field {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: #F4F5F7;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  outline: none;
  transition: all 0.2s;
  font-size: 0.875rem;
  &:focus {
    background-color: white;
    border-color: #93c5fd;
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.1);
  }
}